body {
    background: url(../img/login-background.jpg) no-repeat center center fixed;
    background-size: cover;
}


.main-section {
    margin: 0 auto;
    margin-top: 50%;
    padding: 0;   
}

.modal-content {
    background-color: #404f71;
    
    padding: 0 20px;
    box-shadow: 0px 5px 5px 0px #000000;
}

.user-img {
    margin-top: -75px;
    margin-bottom: 30px;
}

.user-img img {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input {
    height: 42px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    text-align: center;
}

.forgot {
    margin-bottom: 25px;
}

.forgot a {
    color: #ffffff;
}